
footer
    background: rgba(var(--blue),1)
    .container    
        position: relative
        color: white
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        padding: 20px
        a,.a-btn
            font-size: 2rem
            color: white
            padding: 10px
            text-decoration: none
        p
            font-size: 1.3rem
        .to-header
            position: absolute
            top: 35%
            right: 20px
        