$dark-main: 42, 42, 42
$red: 215, 95, 46
// $blue: 34, 119, 184
$blue: 23, 74, 122
$darkest: 0 ,0 ,0

\:root
	--dark-main: #{$dark-main}
	--red: #{$red}
	--blue: #{$blue}
	--darkest: #{$darkest}

*
	margin: 0
	padding: 0
	box-sizing: border-box

html   
    scroll-behavior: smooth

body 
	margin: 0
	font-family: 'Open Sans Condensed', sans-serif
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	position: relative


.container
	max-width: 1600px
	margin: auto

.btn
	border: none
	padding: 13px
	font-size: 15px
	border-radius: 5px
	display: inline-block
	text-align: center
	text-decoration: none
	cursor: pointer
	transition: background-color 0.2s
	&-dark
		background: #333
		color: white
		&:hover
			background: #4F4F4F			
	&-light
		background: #4F4F4F
		color: white
		&:hover
			background: #777	
	&-black
		background: #000
		color: white
		&:hover
			background: #333	
	&-blue
		background: rgba(var(--blue),1)
		color: white
		&:hover
			background: rgba(var(--blue),0.7)	
	&-red
		background: rgba(var(--red),1)
		color: white
		&:hover
			background: rgba(var(--red),0.8)	

.a-btn
	text-decoration: none
	cursor: pointer
	&-white
		color: white
		transition: color 0.3s 
		&:hover
			color: rgba(var(--red),1) !important

.error
	text-align:  center
	height: 100%

.background
	position: sticky
	top: 0
	left: 0
	display: block
	z-index: -1
	opacity: 0.5
	width: 100%
	height: auto !important
	